.DeviceEditor-form {
  display: flex;
  flex-direction: column;
}
.DeviceEditor-section {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
}
.DeviceEditor-label {
  font-size: 20px;
  font-weight: bold;
}
.DeviceEditor-name {
  height: 50px;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
}

.DeviceEditor-button {
  width: 120px;
}
