.ConfigureGateblu--actions {
  float: right;
}

.ConfigureGateblu--action .Icon {
  font-size: 25px;
}

.ConfigureGateblu--actions .Button--hollow-approve, .ConfigureGateblu--actions .Button--hollow-danger {
   padding-left: 15px;
   padding-right: 15px;
}

.ConfigureGateblu--actions .Button {
  margin-right: 10px;
  padding-top: 4px;
}
