.CollectionCard-container {
  display: flex;
  flex-wrap: wrap;
  flex: 1;

  margin: 0 auto;

  width: 100%;
  max-width: 960px;
}

.CollectionCard {
  display: block;
  width: 50%;
  padding: 12px;

  color: #FFF;
  text-align: center;
  text-decoration: none;
}

.CollectionCard:hover {
  color: #FFF;
}

.CollectionCard:nth-child(odd) {}

.CollectionCard-logo {
  width: 140px;
  height: 140px;
}

.CollectionCard-label {
  margin: 0;
  padding: 0;

  font-size: 36px;
  font-family: 'citrixsans-semibold', sans-serif;
}

.CollectionCard-description {
  margin: 0;
  padding: 0;

  color: #E7F0F9;
  font-family: 'citrixsans-light', sans-serif;
  font-size: 18px;
}
